.activity{
    display: grid;
    grid-template-columns: 3fr 1.5fr;
}
.exercise-container{
    margin-left: 40px;
    margin-top: 60px;
}
.exercise-container h1{
    font-size: 4vw;
    margin-bottom: 20px;
    font-style: italic;
    color:palevioletred;
    font-weight:500;
}

.detail-container{
    margin-left: 150px;
}